{{extend 'layout.html'}}
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<center>
    <img src="{{=URL('static','images/up_logo.jpeg')}}" width="800px" />
    <h1 dir="rtl">סיכום עד פרשת 
    {{=last_parasha}}
        </h1>
    <table dir="rtl" >
        <tr>
          <th>שם</th>
          <th>סכום</th>
          <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הערות&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>שם</th>
          <th>סכום</th>
          <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הערות&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>שם</th>
          <th>סכום</th>
          <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הערות&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
     {{for row in dd:}}
        <tr >
         <td >{{=row[0]}}</td>
         <td dir="ltr">{{=row[1]}}</td>
         <td>         </td>
         <td >{{=row[2]}}</td>
         <td dir="ltr" >{{=row[3]}}</td>
         <td>         </td>
         <td >{{=row[4]}}</td>
         <td dir="ltr" >{{=row[5]}}</td>
         <td>         </td>
        </tr>
      {{pass}}
    </table>
    <p>
        <h1 >
     {{=str_all_debt}}    :החוב הכללי הוא
        </h1>
    </p>
    <img src="{{=URL('static','images/down_logo.jpeg')}}" width="800px" />
</center>
    <script>n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
    </script>
